<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Noticias</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Loop through latestNotice array -->
  <ion-card *ngFor="let notice of latestNotice">

    <ion-card-header>
      <!-- Display title -->
      <ion-card-title [innerHTML]="notice.title"></ion-card-title>
      
      <!-- Display link -->
      <ion-card-subtitle>
        <a [href]="notice.url" target="_blank">{{ notice.url }}</a>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content [innerHTML]="notice.sanitizedContent"></ion-card-content>
  </ion-card>
</ion-content>
