<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edad Estimada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edad Estimada</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="getEdad()">Consultar Edad</ion-button>

  <div *ngIf="edad !== undefined">
    <p>Edad estimada: <strong>{{ edad }}</strong></p>
    <p>Clasificación: <strong>{{ categoria }}</strong></p>
    <img *ngIf="imagenUrl" [src]="imagenUrl" alt="{{ categoria }}" style="width: 150px; margin-top: 10px;">
  </div>
</ion-content>
